<form class="login" action="<%=constants[:base_url]%>login/send_password" method="post">
  <h1 class="login-title">Recuperar Contraseña</h1>
  <input type="email" class="login-input" placeholder="correo electrónico" autofocus name="email" style="margin-bottom:0px;">
  <input type="hidden" name="<%=constants[:csrf][:key]%>" value="<%=constants[:csrf][:secret]%>"/>
  <p class="mensaje-error"><%=mensaje%></p>
  <button type="submit" value="Submit" class="login-button">Enviar</button>
  <p class="login-lost"><a href="<%=constants[:base_url]%>login">Ingresar</a></p>
  <p class="login-sign"><a href="<%=constants[:base_url]%>login/sign_in">Registrarse</a></p>
</form>
<footer>
  <p>Powered by: <a href="http://softweb.pe/">Software Web Perú</a> © 2011-2018 </p>
</footer>